.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #00509e, #003366); 
  padding: 5px; 
}

.logo {
  font-size: 32px; 
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif; 
  margin-bottom: 10px; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px; 
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px; 
  transition: color 0.3s, transform 0.3s; 
}

.nav-links a:hover {
  color: #D12771; 
  transform: scale(1.1); 
}

@media (max-width: 768px) {
  .header {
    flex-direction: column; 
  }

  .nav-links {
    flex-direction: column; 
    gap: 10px; 
  }
}